# first one
# <IfModule mod_rewrite.c>
#   RewriteEngine On
#   RewriteBase /
#   RewriteCond %{REQUEST_FILENAME} !-d
#   RewriteCond %{REQUEST_FILENAME} !-f
#   RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
# </IfModule>
# second one and it works
# <IfModule mod_rewrite.c>
#   RewriteEngine On
#   RewriteBase /
#   RewriteCond %{REQUEST_URI} !^public
#   RewriteRule ^(.*)$ public/$1 [L]
# </IfModule>
# third one
# RewriteEngine On
# RewriteBase /
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^(.+)$ routes.php [QSA,L]
# fourthone
# <IfModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteBase /
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteCond %{REQUEST_URI} !^public
#     RewriteRule ^(.*)$ index.php/$1
# </IfModule>
RewriteEngine On
RewriteCond %{REQUEST_URI}  !(\.png|\.jpg|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js)$
RewriteRule (.*) routes.php [QSA,L]