
.card .body{
    margin: 2rem 5rem 0 5rem;
}
.checkoutinfo{
    float: right;
    margin-right: 3rem;
}
.card .body input {
  font-size: 14px;
  width: 30%;
  /* height: 22px; */
  display: inline;
  margin-left: 1rem;
  /* line-height: 42px; */
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1rem;
  margin-bottom: 1rem;
}
@media all and (max-width: 991px){
    .card .body{
        margin: 2rem 0 0 0;
    }
    .checkoutinfo{
        margin-right: 1rem;
    }
}