
.commnt_bttn{
    font-family: "Ubuntu", sans-serif;
    background-color: white;
    width: 8%;
    color: #00022e;
    font-size: 0.7rem;
    border-radius: 30px;
}
@media all and (max-width: 991px) {
  .commnt_bttn{
    width: 14%;
    }
}

.commnt_bttn:hover {
    background-color: #00022e;
    color: white;
    border-color: white;
  }
.cmmnt_reaction
{
    display: inline;
    cursor: pointer;
}
.comments-section{
    display: none;
}
.likebtn{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    /* font-family: arial, sans-serif; */
    /*input has OS specific font-family*/
    /* color: #069; */
    /* text-decoration: underline; */
    cursor: pointer;
}
.hide {
    display: none;
}
.panel-footer svg{
    cursor: pointer;
}
.fill-love
{
    width: 22px;
    /* display: none; */
}
.reaction-love::after { 
    font-family: FontAwesome; 
    content: "\f004"; 
    font-size: 22px; 
    color: rgb(242, 82, 104);
    display: none;
}